# Ignore face data and personal images
face_data/
*.jpg
*.png
*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env

# VSCode or IDE settings
.vscode/
.idea/

.env
face_data/user.jpg
*.png
